.colorBox {
  display: flex;
  flex-wrap: wrap;
}
.box {
  display: flex;
  width: 20%;
  height: 140rpx;
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
  justify-content:center;
}
.colorItem {
  width: 110rpx;
  height: 110rpx;
  border-radius: 5px;
   margin-top: 15rpx; 
}